images/
annotations/
results/
external/
.DS_Store

MatlabAPI/analyze*/
MatlabAPI/visualize*/

PythonAPI/detail/_mask.c
PythonAPI/detail/_mask.so
PythonAPI/detail/*.pyc
PythonAPI/detail/*.pyd
.ipynb_checkpoints/
__pycache__/